[workspace]
resolver = "2"
members = [
    "cargo-green",
    "rustcbuildx",
]

[workspace.package]
version = "0.2.0"
authors = ["Pierre Fenoll <pierrefenoll@gmail.com>"]
categories = [
	"caching",
	"compilers",
	"concurrency",
	"development-tools::build-utils",
]
edition = "2021"
keywords = [
	"build",
	"buildkit",
	"docker",
	"DOCKER_HOST",
	"RUSTC_WRAPPER",
]
license = "MIT"
repository = "https://github.com/fenollp/supergreen"

[workspace.dependencies]
anyhow = "1"
assertx = { version = "1", features = ["logging"] }
camino = "1"
clap = { version = "4", features = ["cargo", "derive"] }
env_logger = "0,>=0.11"
futures = "0.3"
log = "0,>=0.4"
mktemp = "0,>=0.5"
nutype = "0,>=0.4"
pretty_assertions = "1"
rustflags = "0,>=0.1"
serde = { version = "1", features = ["derive"] }
serde-jsonlines = { version = "0,>=0.5", features = ["async"] }
serde_json = "1"
sha256 = "1"
szyk = "1"
tokio = { version = "1", features = ["macros", "io-util", "process", "rt-multi-thread", "time"] }
toml = "0,>=0.8"
