[package]
name = "cargo-green"
description = "Cargo plugin to sandbox, cache & remote exec cargo builds"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
supergreen.path = "../supergreen"
tokio.workspace = true
which.workspace = true
